# Dependencies
node_modules/
package-lock.json

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# Build output
dist/
build/ 